.teams-container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
.teams-list-container{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.no-teams-view{
      width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}