.logs-container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding-top: 80px;

}
.logs-item-container{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logs{
    display: flex;
    align-items: center;
    gap: 4px;
}

.logs-heading{
    width: 100%;
    background-color: white;
   position: sticky;
    top: 80px; 
    z-index: 100;
    padding-bottom: 5px;

}