.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(20px) saturate(180%); 
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.03);
}
.header-content{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
}
.header-logo-container{
     height: 45px;      
    width: auto;            
    display: flex;
    align-items: center;   
    padding: 0 10px; 
}
.header-logo{
    height: 100%;
    width: auto;
}
.header-profile-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.header-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logs-button{
    border: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    background-color: white;
    padding: 10px;
    font-size: 12px;
    width: 100px;
}
.primary{
    background-color: #3b82f6;
    border: none;
    color: white;
}

.black{
    color: #4e4e4eff;
}
.header-r{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: fit-content;
}


button:active {
  transform: scale(0.98); 
}

.button:disabled {
  cursor: not-allowed;
}