.employee-list-item{
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.employee-name-img{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.employee-list-image-container {
    width: 30px;           
    height: 30px;
    border-radius: 50%;     
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee-list-image {
    width: 100%;
    height: 100%;           
    object-fit: cover;      
}

.employee-list-name-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.employee-list-name{
    font-size: 14px;
    font-weight: 600;
    color: rgb(80, 80, 80);
}
.employee-list-right{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}
.employee-list-role{
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.employee-list-button{
    border: none;
    background-color: transparent;
    color: #3b82f6;
    cursor: pointer;
}

.green{
    color: rgb(0, 101, 0);
    background-color: rgb(179, 255, 179);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}
.blue{
    color: rgb(0, 98, 101);
    background-color: rgb(179, 246, 255);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}
.orange{
    color: rgb(101, 76, 0);
    background-color: rgb(255, 217, 179);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}
.pink{
    color: rgb(101, 0, 61);
    background-color: rgb(255, 179, 216);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}
.violet{
    color: rgb(71, 0, 101);
    background-color: rgb(247, 179, 255);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}
.red{
    color: rgb(101, 0, 19);
    background-color: rgb(255, 179, 184);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}
.yellow{
    color: rgb(101, 93, 0);
    background-color: rgb(255, 252, 179);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}
.brown{
    color: rgb(101, 39, 0);
    background-color: rgb(255, 179, 179);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}
.gold{
    color: rgb(101, 76, 0);
    background-color: rgb(255, 239, 179);
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    font-weight: 500;
    font-size: 12px;
}

.link {
    text-decoration: none;
}




.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #b4b4b4;
  border-radius: 4px; 
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
  cursor: pointer;
}


.custom-checkbox input:checked + .checkmark::after {
  content: '';
  position: absolute;
  left: 4px;  
  top: 2px;   
  width: 2px; 
  height: 5px; 
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  background: none;
}



.custom-checkbox input:checked + .checkmark {
  background-color: #3b82f6;
  border-color: #3b82f6;;
}
