.team-card-container{
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(195, 195, 195);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 200px;
}
.team-card-img-container{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
.team-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-card-details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.teams-name{
    color: black;
    font-weight: 300;
    font-style: italic;
}

.teams-count{
    color: rgb(134, 134, 134);
    font-weight: 400;
}

.teams-icon{
    font-size: 50px;
    color: #BDBDBD;
}