.login-page-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container {
  margin: auto;
  padding: 30px;
  width: 220px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}
.login-logo {
  width: 100px;
}

.text-inputs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.text-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}
.label {
  font-size: 10px;
  font-weight: 600;
  color: rgb(107, 107, 107);
}
.textbox {
  width: 100%;
  padding: 8px;
  height: 28px;
  border: solid;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
  margin-top: 2px;
  color: rgb(29, 29, 29);
  font-size: 12px;
}
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
}
.checkbox {
  width: 10px;
  height: 10px;
  border-color: rgb(230, 230, 230);
  border: solid;
  border-width: 1px;
  cursor: pointer;
}
.button-container {
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 6px;
  height: 28px;
  border: none;
  border-radius: 4px;
  background-color: #3b82f6;
  color: white;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:disabled {
  width: 100%;
  padding: 6px;
  height: 28px;
  border: none;
  border-radius: 4px;
  background-color: #3b82f6;
  color: white;
  opacity: 0.6;
  cursor: not-allowed;
}

.error-text {
  font-size: 10px;
  color: rgb(186, 0, 0);
  margin: 0;
}


.register-text{
  font-size: 12px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  gap: 3px;

}

.b{
  color: #3b82f6;
}