body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* --- DEFAULT STATE (Desktop) --- */


.mobile-blocker {
  display: none;
}


.app-content {
  display: block;
  height: 100%;
}


@media screen and (max-width: 1024px) {
  

  .app-content {
    display: none !important;
  }


  .mobile-blocker {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; 
  }

  .mobile-blocker h1 {
    margin-top: 20px;
    color: #333;
  }
  
  .mobile-blocker p {
    color: #666;
  }
}